.slideList {
  padding: 10px;

  .actions {
    margin-bottom: 10px;
  }

  .list {
    .slideItem {
      padding: 10px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      cursor: pointer;

      &.active {
        border-color: #1890ff;
      }
    }
  }
}